
.clear{				/* This is to clear a line of floating divs */
background: none;
border: 0px;
clear: both;
display: block;
float: none;
font-size: 0px;
list-style: none;
margin: 0px;
padding: 0px;
overflow: hidden;
visibility: hidden;
width: 0px;
height: 0px
}


.spacer{
font-size:0;
background-color:transparent;
height:15px;
display:block;
clear:both;
}


div.button
{	
width: 100%;
text-align:center;
}

.sidetable {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF3300;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF9900;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.sidetable2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.sidelinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF6600;
	font-size: 12px;
	font-weight: bold;
}
.baseline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #555555;
	vertical-align: top;

}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
a {
	color: #FF6600;
}

	
	
	